node_modules/
dist/
.vercel/

.env
.env.local
.env.production
.env.development
.env.preview
functions/.env
functions/.env.local
functions/.secret.local

.env
.env.local
.env.production
.env.development
.env.preview
functions/.env
functions/.env.local
functions/.secret.local
